<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" verbose="1">
	<!--  <test name="Sign_In">
        <classes>
            <class name="com.music.testcases.TestCase_SignIn">
            </class>
        </classes>
    </test> -->
	<!-- <test name="Search">
        <classes>
            <class name="com.music.testcases.TestCase_Search"/>
        </classes>
    </test>-->
	<test name="Add_Playlist">
		<classes>
			<class name="com.music.testcases.TestCase_AddPlayList" />
		</classes>
	</test>
</suite>
